---
---

@import "{{ site.theme }}";

ul.nav {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.nav li {
	float:left;
}
ul.nav li a {
	text-decoration:none;
	list-style-type: none;
	display: block;
	color: white;
	padding: 0px 30px;
	text-align: center;
}
ul.nav li a:hover{
	background-color: #111111;
}
#project_title a:link {
  color: white;
}
#project_title a:visited {
  color: white;
}
#project_title a:hover {
  color: white;
}
#project_title a:active {
  color: white;
}
